.comunidad {
    @extend .main-gradient;
    h2{
        animation-delay: 1s;
    }

    .mision {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 0px 10px 0px 10px;
        animation-delay: 1.5s;

        p {
            text-align: justify;
            padding: 5px;
            margin: 5px;
        }

        img {
            width: 220px;
        }
    }

    .h2-redes{
        animation-delay: 2s;
    }

    .redes {
        @extend .flex-row;

        .redes_social {
            background-color: rgba(0, 0, 0, 0.233);
            width: 50px;
            border-radius: 10px;
            margin: 10px;
            @extend .flex-column;
            animation-delay: 2.5s;

            .redes_social-link {
                color: rgba(0, 0, 0, 0.767);
                font-size: 30px
            }
        }

        .reddit {
            border-radius: 10px;
            box-shadow: 1px 1px 2px 2px rgba(128, 128, 128, 0.705);
            overflow: hidden;
            margin: 20px;
            animation-delay: 2.5s;
        }
    }
}


// Media Queries

@media (min-width: 900px) {
    .comunidad {
        .redes {
            .redes_social {
                background-color: rgba(0, 0, 0, 0.137);
                width: 150px;
                height: 240px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;
                justify-items: center;
            }
        }
    }
}

@media (max-width: 740px) {
    .comunidad {
        .mision {
            flex-direction: column;
        }

        .redes {
            flex-direction: column;

            .redes_social {
                flex-direction: row;
                width: 90%;
                justify-content: space-evenly;
            }
        }
    }
}