.contact {
    @extend .main-gradient;

    .contact-form {
        padding: 10px;

        .form-item {
            margin: 5px;
            padding: 5px;
        }

        .contact_input-email {
            width: 250px;
        }

        p {
            display: inline;
        }

        textarea {
            display: block;
            width: 96%;
            height: 200px;
        }

        .contact_button {
            @extend button;
        }
    }

    .email-phone-time {
        display: flex;
        justify-content: space-evenly;

        ul {
            margin: 10px;
            padding: 0px;

            li {
                margin: 10px;
                padding: 0px;
                list-style-type: none;
            }
        }
    }

    .horario-atencion {
        margin: 15px;
        text-align: center;
    }
}

// Media Queries

@media (max-width: 425px) {
    .contact {
        .email-phone-time {
            flex-direction: column;
        }

        .contact-form {
            .contact_input-email {
                width: 95%;
            }
        }
    }
}

@media (max-width: 768px) {
    .contact {
        .contact-form {
            .contact_button {
                display: block;
            }
        }
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .contact {
        .contact-form {
            .contact_input-email {
                width: 300px;
            }
        }
    }
}