footer {
    background-color: rgba(20, 184, 86, 0.486);
    bottom: 0;
    width: 100%;
    text-align: center;

    .footer_text {
        color: black;
        padding: 10px;
        margin: 0;
    }
}

@media (max-width: 360px) {
    footer {
        .footer_text {
            padding: 5px;
            font-size: small;
        }
    }
}